.card-img-fixed {
  height: 200px;      /* same height for all images */
  object-fit: cover; /* crop without distortion */
  width: 100%;
}
.card-25 {
  width: 25%;
}

.card-50 {
  width: 50%;
}

@media (max-width: 780px) {
  .card-25,
  .card-50 {
    width: 100%;
  }
}
.cardNi{
  padding: 5px;
}
