.cat-btn{
    background-color: #233648;
}
.search {
  background: #233648;
  color: white; /* input text color */
  border: none;
}

.search::placeholder {
  color: #b5c7d3;  /* placeholder color */
  opacity: 1;      /* IMPORTANT for Firefox */
}
.search:focus,
.search:active {
  background: #233648;   /* same bg */
  outline: none;         /* remove blue outline */
  box-shadow: none;      /* remove Bootstrap glow */
  color: white;
}

.head {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between; 
  align-items: center;
  margin-top: 5px;
  padding: 10px 5px;
}

.head .input-group {
  width: 100%;
}

@media(min-width: 768px) {
  .head {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .head .input-group {
    width: 25%;
  }
}