 
.search {
  background: #233648;
  color: white; /* input text color */
  border: none;
}
.mainHeader{
  background-color: #040608;
  height: 25vh;
}
.search::placeholder {
  color: #b5c7d3;  /* placeholder color */
  opacity: 1;      /* IMPORTANT for Firefox */
}
.search:focus,
.search:active {
  background: #233648;   /* same bg */
  outline: none;         /* remove blue outline */
  box-shadow: none;      /* remove Bootstrap glow */
  color: white;
}

.head {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 5px;
}

.head .input-group {
  width: 100%;
}

@media(min-width: 768px) {
  .head {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .ui{
    width: 25%;
  }
  .head .input-group {
    width: 25%;
  }
  .defS{
  margin-top: 10%;
}
}

.Topic {
  animation: moveUpDown 6s ease-in-out 1;
}

/* @keyframes moveUpDown {
  0%   { transform: translateY(-40px); }
  20%  { transform: translateY(-80px); }
  40%  { transform: translateY(-120px); }
  60%  { transform: translateY(-160px); }
  80%  { transform: translateY(-200px); }
  100% { transform: translateY(0); }
} */
 @keyframes moveUpDown {
  0%   { transform: translateY(-120%); }
  20%  { transform: translateY(-250%); }
  40%  { transform: translateY(-300%); }
  60%  { transform: translateY(-400%); }
  80%  { transform: translateY(-500%); }
  100% { transform: translateY(0); }
}