 
.search {
  background: #233648;
  color: white; /* input text color */
  border: none;
}
.head{
  background-color: #040608;
  height: 15%;
}
.search::placeholder {
  color: #b5c7d3;  /* placeholder color */
  opacity: 1;      /* IMPORTANT for Firefox */
}
.search:focus,
.search:active {
  background: #233648;   /* same bg */
  outline: none;         /* remove blue outline */
  box-shadow: none;      /* remove Bootstrap glow */
  color: white;
}

.defS{
  margin-top: 10%;
}

@media (max-width:786px) {
 .defS{
  margin-top: 20%;
}
}

.Topic {
  animation: moveUpDown 6s ease-in-out 1;
}

/* @keyframes moveUpDown {
  0%   { transform: translateY(-40px); }
  20%  { transform: translateY(-80px); }
  40%  { transform: translateY(-120px); }
  60%  { transform: translateY(-160px); }
  80%  { transform: translateY(-200px); }
  100% { transform: translateY(0); }
} */
 @keyframes moveUpDown {
  0%   { transform: translateY(-120%); }
  20%  { transform: translateY(-250%); }
  40%  { transform: translateY(-300%); }
  60%  { transform: translateY(-400%); }
  80%  { transform: translateY(-500%); }
  100% { transform: translateY(0); }
}

