.carousel-caption{
    background-color: rgba(128, 128, 128, 0.254);
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
@media(min-width:786px){
  .carouselExampleCaptions{
    margin-left: 10px;
    margin-right: 10px;
  }
  .break{
    margin-left:10px;
    margin-right:10px;
    margin-top: 1px;
  }
}
.carouselExampleCaptions{
    border-radius: 20px;
    
}
